<h2>Total Calls Made </h2>
<p> ... </p>

<h3>Total Local Calls </h3>
<p> ... </p>

<h3>Total STD Calls </h3>
<p> ... </p>


<h3> Pie Chart </h3>
....

<hr/>

<h2>Total Bill Amount </h2>
<p> ... </p>

<h3>Total Local Calls </h3>
<p> ... </p>

<h3>Total STD Calls </h3>
<p> ... </p>

<h3> Pie Chart </h3>
....

<hr/>